<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form id="loginForm" action="/auth" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <div id="error-message" style="color: red;"></div>
    <input type="submit" value="login"/>
    <a href="/registration">Register</a>
</form>

<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        console.log('Sending request with data:', {
            firstname: document.getElementById('name').value,
            password: document.getElementById('password').value
        });

        fetch('/auth', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                firstname: document.getElementById('name').value,
                password: document.getElementById('password').value
            })
        })
            .then(response => response.json())
            .then(data => {
                console.log('Response this is data :', data);
                if (data.error) {
                    document.getElementById('error-message').textContent = data.error;
                } else {
                    localStorage.setItem('token', data.token);
                    console.log('this is data.token after setItem: ', data.token)

                    // Добавляем токен в заголовки
                    const headers = new Headers();

                    const token = (localStorage.getItem('token'));
                    headers.append('Authorization', 'Bearer ' + token);


                    // Делаем запрос на /products с использованием токена в заголовках
                    fetch('/products', {
                        method: 'GET',
                        headers: headers
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`Error fetching /products. Status: ${response.status}`);
                            }
                        })
                        .catch(error => {
                            console.error('Error fetching /user/products:', error);
                        });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
//TODO возможно ошибка в том что я неправильно передаю эндпойнты
</script>
</body>
</html>
